## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
*.csproj.user
*.[Rr]es[Pp]arser
*.rsps
*.nupkg

## JetBrains Rider
.idea/
*.sln.iml

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Secrets
appsettings.*.local.json
secrets.json

## OS
.DS_Store
Thumbs.db

## Node
node_modules/

## Docker
docker-compose.override.yml

## Serilog logs
logs/
*.log
